/* DashboardHeader.css */
.header {
    background-color: #00008B;
    color: #fff;
    padding: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    display: flex;
  }

  .logout-button {
    background-color: grey !important;
    color: white !important; /* Ensuring text color is readable */
    position: absolute;
    right: 80px;
    top: 70px;
  }

  .container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    height: 100vh;
  }


  
  